# Specify filepatterns you want git to ignore.

RPICanDriver/bin/*
RPICanDriver/debug/*
RPICanDriver/obj/*

Mplab/AGV_Driver_V1.X/build/*
Mplab/Bootloader_CAN.X/build/*
Mplab/Bootloader_test.X/build/*